body {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 58px;
}

main {
  margin-top: 15px;
}

.hamburger-wrapper, .cart-wrapper, .count-label-wrapper {
  float: right;
}

.logo-wrapper {
  float: left;
}

.logo {
  margin: 6px 0 0 10px;
  font-family: 'Brush Script MT', cursive;
  font-size: 40px;
}

.hamburger {
  width: 30px;
  height: 30px;
  margin: 19px 5px 5px 3px;
}

.cart {
  margin: 25px 10px 0 0;
  width: 15px;
  height: 15px;
} 

.count-label {
  margin: 25px 5px 0 0;
} 

.vertical-divider {
  float: right;
  margin: 22px 0 0 5px;
  border-left: 1px solid #000000;
  height: 22px;
}

.carousel {
  position: relative;
}

.carousel__image {
  width: 100%;
  height: 504px;
  display: block;
}

.carousel__main-title {
  color: #ffffff;
  font-size: 27px;
  font-family: Poppins, sans-serif;
  word-spacing: 7px;
  letter-spacing: 3px;
  box-sizing: border-box;
}

.carousel__main-title-wrapper {
  position: absolute;
  top: 235px;
  margin-left: 14px;
  box-sizing: border-box;
}

.carousel__second-title-wrapper {
  position: absolute;
  top: 285px;
  margin-left: 14px;
}

.carousel__second-title {
  color: #aa6d6d;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  word-spacing: 7px;
  letter-spacing: 3px;
}

.carousel__forward-button {
  position: absolute;
  top: 390px;
  margin-left: 95px;
  width: 50px;
  height: 50px;
  background-image: url(images/forward.png);
  background-size: cover;
  border: 2px solid #fffffa;
}

.carousel__back-button {
  position: absolute;
  top: 390px;
  margin-left: 30px;
  width: 50px;
  height: 50px;
  background-image: url(images/back-button.png);
  background-size: cover;
  border: 2px solid #fffffa;
}

@font-face {
  font-family: 'Poppins';
  src: url('fond/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('fond/Montserrat-Regular.ttf');
}

.about__img-wrapper {
  position: relative;
  margin-top: 60px;
  height: 315px;
}

.about__img-one {
  position: absolute;
  left: 20px;
  top: 140px;
  z-index: 10;
}

.about__img-two {
  position: absolute;
  right: 20px;
  z-index: 0;
}

.about__text-wrapper {
  padding: 20px;
}

.about__subtitle, .gallery__subtitle {
  text-transform: uppercase;
  color: #be4642;
  margin: 10px 0 30px;
}

.about__paragraph {
  color: #3a3939;
  font-family: Montserrat, sans-serif;
}

.about__title, .galery__title {
  font-family: monospace;
  font-weight: bold;
  font-size: 38px;
  margin: 0;
}

.galery__title, .gallery__subtitle, .footer__title, .footer__subtitle, .footer__copyright {
  text-align: center;
}

.gallery__img {
  flex: 1 1 auto;
  padding: 5px 5px;
}

.gallery__img img {
  width: 100%; 
  display: block;
}

.gallery__img-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5px;
}

.gallery {
  background-color: #fafafa;
  padding: 70px 10px;
}

.footer__icon {
  width: 40px;
  height: 40px;
}

.footer__title, .footer__copyright {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.footer__subtitle{
  font-family: 'Brush Script MT', cursive;
  font-size: 40px;
}

footer {
  width: 100%;
  padding: 30px 0;
  background-color: #f0f0fc;
}

.footer__icon-wrapper {
  display: flex;
  justify-content: center;
}

.footer__icon-wrapper img {
  padding: 10px;
}