html, body {
  padding: 0;
  margin: 0;  
}

nav {
  display: inline;
}

div {
  float: right;
}

.Logo {
  float: left;
}

.Logo p {
  margin: 6px 0 0 10px;
  font-family: 'Brush Script MT', cursive;
  font-size: 40px;
}

.Hamburger img {
  width: 30px;
  height: 30px;
  margin: 19px 5px 5px 3px;
}

.Cart img {
  margin: 25px 10px 0 0;
  width: 15px;
  height: 15px;
} 

.Cart p {
  margin: 25px 5px 0 0;
  float: right;
} 

.Vertical-divider {
  margin: 22px 0 0 5px;
  border-left: 1px solid black;
  height: 22px;
}