body, html {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 58px;
}

main {
  margin-top: 15px;
}

.hamburger-wrapper, .cart-wrapper, .count-label-wrapper {
  float: right;
}

.logo-wrapper {
  float: left;
}

.logo {
  margin: 6px 0 0 10px;
  font-family: 'Brush Script MT', cursive;
  font-size: 40px;
}

.hamburger {
  width: 30px;
  height: 30px;
  margin: 19px 5px 5px 3px;
}

.cart {
  margin: 25px 10px 0 0;
  width: 15px;
  height: 15px;
} 

.count-label {
  margin: 25px 5px 0 0;
} 

.vertical-divider {
  float: right;
  margin: 22px 0 0 5px;
  border-left: 1px solid #000000;
  height: 22px;
}

.carousel {
  position: relative; 
}

.carousel__background-image {
  width: 100%;
  height: 504px;
}

.carousel__main-title {
  color: #ffffff;
  font-size: 27px;
  font-family: Poppins, sans-serif;
  word-spacing: 7px;
  letter-spacing: 3px;
  box-sizing: border-box;
}

.carousel__main-title-wrapper {
  position: absolute;
  top: 270px;
  margin-left: 14px;
  box-sizing: border-box;
}

.carousel__second-title-wrapper {
  position: absolute;
  top: 310px;
  margin-left: 14px;
}

.carousel__second-title {
  color: #aa6d6d;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  word-spacing: 7px;
  letter-spacing: 3px;
}

.carousel__forward-button {
  position: absolute;
  top: 415px;
  margin-left: 95px;
  width: 50px;
  height: 50px;
  background-image: url(images/forward.png);
  background-size: cover;
  border: 2px solid #fffffa;
}

.carousel__back-button {
  position: absolute;
  top: 415px;
  margin-left: 30px;
  width: 50px;
  height: 50px;
  background-image: url(images/back-button.png);
  background-size: cover;
  border: 2px solid #fffffa;
}

@font-face {
  font-family: 'Poppins';
  src: url('fond/Poppins-SemiBold.ttf');
}